body{
    background-color: lightgrey;
    width: 300px;
    height: 200px;
    text-align: center;
    margin:auto;
}

.card{
    --width: 5em;
    --height: calc(var(--width) * 1.4);
    width: var(--width);
    height: var(--height);
    background-color: white;
    border: 1px solid black;
    border-radius: .25em;
    padding: 0.5em;
}

[data-suit="diamonds"],[data-suit="hearts"].card{
    color: red;
}
[data-suit="spades"],[data-suit="clubs"].card{
    color:black;
}
